* {
  padding: 0;
  margin: 0;
  border: 0;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
a {
  text-decoration: none;
}
/*--------------------*/
body {
  overflow: scroll;
  font-family: "Montserrat", sans-serif;
  background-color: #e4dccf;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.content {
  flex: 1 1 auto;
}
/*class .search*/
.search__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search__text {
  margin: 50px 0px;
  width: 400px;
  font-style: italic;
  font-size: 20px;
  height: 35px;
  border: 1px solid #002b5b;
  border-radius: 8px;
  color: #002b5b;
  transition-duration: 0.3s;
}
.search__text:focus {
  opacity: 0.6;
  box-shadow: 1px 1px 5px 5px #002b5b;
}
.search__btn {
  margin: 50px 0px;
  color: #002b5b;
  font-style: italic;
  font-size: 20px;
  height: 40px;
  width: 100px;
  background-color: #ea5455;
  border: 2px solid #002b5b;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #002b5b;
  transition-duration: 0.5s;
}
.search__btn:hover {
  cursor: pointer;
  color: #ea5455;
  background-color: #002b5b;
}
.search__location {
  font-size: 15px;
}

@media (max-width: 630px){
  .search__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search__text {
    
     margin: 10px 0px;
 
  }
  .search__btn {
     margin: 10px 0px;
    width: 400px;
  }
}
/*class currentCity*/
.currentCity__row {
  display: flex;
  margin: 0 -50px;
  align-items: baseline;
  
}
.currentWeather {
  margin: 0px 50px 50px 80px;
  flex: 0 1 66.667%;
}
.currentWeather__row {
  display: flex;
  margin: 0 -10px;
}
.currentWeather__sun {
  flex: 0 1 50%;
  font-size: 60px;
  color: #e86a33;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: 0 10px;
}
.value {
  flex: 0 1 50%;
  margin: 0 10px;
}
.value .active {
  cursor: default;
  color: #002b5b;
}
.value .active:hover {
  text-decoration: none;
}
.value__row {
  display: flex;
  flex-direction: column;
}
.value__temp {
  font-size: 34px;
  font-weight: 700;
  padding: 20px 0px 0px 0px;
  color: #002b5b;
}
a.value__calc {
  color: #ea5455;
  font-style: normal;
}
a.value__C:hover,
a.value__F:hover {
  color: #ea5455;
}
p.value__stik {
  margin: 0;
  padding: 0;
  display: inline;
  font-style: normal;
}
.value__humidity,
.value__description,
.value__wind {
  font-size: 18px;
  font-style: italic;
  padding: 20px 0px 0px 0px;
  color: #002b5b;
}
.value__description {
  text-transform: capitalize;
}

.currentCity__city {
  flex: 0 1 33.333%;
  font-size: 42px;
  font-weight: 900;
 
  margin: 0 50px;
  color: #ea5455;
  text-shadow: 2px 2px 2px #002b5b;
}

.forecast {
  margin: 0px 0px 0px 20px;
}
.forecast__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 560px) {
.forecast {
  margin: 0;
}
}
@media (max-width: 500px) {
.forecast__row {
  flex-direction: column;
}
}
.column {
  display: flex;
  flex-direction: column;
  border: 1px solid #9ba4b5;
  border-radius: 10px;
}
.column__degree {
  padding: 5px;
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #212a3e;
  text-align: center;
}

.column__min {
   font-weight: 400;
   font-size: 20px;
}
.column__day {
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #9ba4b5;
  border-bottom: 1px solid #9ba4b5;
}
.column__sky {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.fa-solid {
   padding: 0;
  margin: 0;
  font-size: 60px;
  text-align: center;
}
.fa-sun {
   color: #e86a33;
}
.fa-cloud {
  color: #93bfcf;
}
.fa-cloud-rain {
  color: #002b5b;
}

.date__current {
  margin: 50px 0px;
  text-align: center;
  font-size: 22px;
  color: #002b5b;
  font-weight: 700;
}

.footer_row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.footer_text {
  font-size: 15px;
  opacity: 0.7;
}
.footer__link {
  color: black;
  text-decoration: underline;
  display: block;
  text-align: center;
}
